// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$contact-font-family: 'Orbitron', sans-serif;
$menu-font-family: 'Tourney', cursive;

// Colors
$blue: #0421a8;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$dark-grey: #2e3535;
$light-grey: #929d9c;
$white: #e6f2f1;

// Background colors
$dark: $dark-grey;